@model ApplyViewModel

@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ListingId)
    @Html.EditorFor(m => m.SponsorName)

    @Html.EditorFor(m => m.FirstName)
    @Html.EditorFor(m => m.LastName)
    @Html.EditorFor(m => m.Email)
    @Html.EditorFor(m => m.Phone)

    <input type="submit" value="Apply!" />
}